* {
    box-sizing: border-box;
}


:root {
    --mainWidth: 50rem;
    --background-color: rgb(236, 236, 236);
    --second-color: #e10531;
    --hovercolor: #ae001a;
    --primary-color: white;
    --text-color: black;
}

.darkmode {
    --background-color: rgb(16, 16, 16);
    --second-color: #140079;
    --hovercolor: #140755;
    --primary-color:  rgb(39, 39, 39);
    --text-color: white;
}

body {
    background-color: var(--background-color);
    color: var(--text-color );
    margin: auto;
}

main, header {
     background-color: var(--primary-color);
}

header{
 padding: 0.1rem;
padding-left: 0.5rem;
display: flex;
justify-content: space-between;
align-items: center;
}
main{
    padding: 1rem;
}

#theme-switch{
    height: 40px;
    width: 40px;
    padding: 0;
    border-radius: 50%;
    background-color: var(--background-color);
    display: flex;
    justify-content: center;
    align-items: center;
}
#theme-switch svg{
  fill: var(--primary-color)
}
#theme-switch svg:last-child{
    display: none;
}
.darkmode #theme-switch svg:first-child{
    display: none;
}
.darkmode #theme-switch svg:last-child{
    display: block;
}

nav, footer {
    background-color: var(--second-color);
}

nav{
    display: flex;
}

nav a{
    text-decoration: none;
    color: var(--text-color);
    padding: 0.7rem;
}
nav a:hover{
    background-color: var(--hovercolor)
}

footer{
   padding: 0.1rem;
}
