{% extends "base.html.twig" %}

{% block main %}

    <h1>Add a movie</h1>

    <form action="Addmovie-formhandler.php" method="post">
        
        
            <label for="Title">Title:</label><br>
            <input type="text" name="Title" id="Title" required><br>    
            <label for="ReleaseYear">Release Year:</label><br>
            <input type="number" id="ReleaseYear" name="ReleaseYear" min="1888" max="2100" required><br>    
            <label for="Genre">Genre:</label><br>
            <select name="Genre" id="Genre" required>
                <option value="Action">Action</option>
                <option value="Comedy">Comedy</option>
                <option value="Drama">Drama</option>
                <option value="Family">Family</option>
            </select><br>
            <label for="Title">Director:</label><br>
            <input type="text" name="Director" id="Director" required><br>  
        
            <label for="Cover">Cover (Filname):</label><br>
            <input type="text" name="Cover" id="Cover" placeholder="t.ex. matrix.jpg"><br>
            The image must be saved in your 'images' folder. <br> <br>
           
            <label for="Summery">Sammanfattning:</label><br>
            <textarea name="Summery" id="Summery" rows="5" placeholder="The movie is about blah blah blah..." required></textarea><br>
        
        <button type="submit" class="btn-primary" style="margin-top: 10px;">Spara film</button>
    </form>
</div>
{% endblock %}