{% extends "base.html.twig" %}
{% block main %}
    <h1>Exempelsida med Twig</h1>
    <div>
      Här visas värdet av variabeln {{ namn }}
    </div>

    <h2>Allt i en lista</h2>
    <ul>
    {% for item in exempelLista %}
      <li>{{ item }}</li>
    {% endfor %}
    </ul>
  <a href="{{url("log/login.php")}}">Logga in</a>
{% endblock %}
 
  

