{% extends "base.html.twig" %}
{% block main %}
  
<h1>Movies</h1>
<ul>
 {% for item in movies %}
    <a href="{{url("info.php")}}?MovieId={{ item.MovieId }}"><li>{{ item.Title }}</li></a>  
   
    {% endfor %}
  </ul>
     <h1>Your watchlist</h1>
     <h3>work in progress, log in to access</h3>
     
  <a href="{{url("log/login.php")}}">Logga in</a>
{% endblock %}
 
  

