{% extends "base.html.twig" %}


{% block main %}
<h2>
      {% for item in review %}
    ID test: {{ item.MovieId }}
        {% endfor %}
  
nytt inlägg
</h2>
  <form action="new-review-formhandler.php" method="post">
    <input type="hidden" name="MovieId" value="{{ MovieId }}">
    <label for="ReviewTitle">Titel</label><br>
    <input type="text" name="ReviewTitle" id="ReviewTitle" required><br>
    <label for="ReviewContent"></label> Skriv ditt inlägg här<br>
    <textarea name="ReviewContent" id="" rows="10" cols="60" id="ReviewContent" required></textarea><br>
    <input type="submit" value="Skicka in">
  </form>
  {% endblock %}