{% extends "base.html.twig" %}

{% block main %}

<form action="search.php" method="post">
<input type="text" name="Title" placeholder=" ">
<button type="submit">Sök</button>
</form>  


 <table>
{% for item in movies %}
        <tr>
            <td> <a href="{{url("info.php")}}?MovieId={{ item.MovieId }}">{{ item.Title }}</a></td>
        </tr>
  {% endfor %}
    </table>


{% endblock %}