{% extends "base.html.twig" %}

{% block main %}

 <table>
{% for item in movies %}
        <tr>
            <td> <a href="{{url("info.php")}}?MovieId={{ item.MovieId }}">{{ item.Title }}</a></td>
        </tr>
  {% endfor %}
    </table>


{% endblock %}